.text-color span:nth-child(1){
	font-weight:bold;
	color:blue;
}

.text-color span:nth-child(2){
	font-weight:bold;
	color:red;
}

.text-color span:nth-child(3){
	font-weight:bold;
	color:yellow;
}

.text-color span:nth-child(4){
	font-weight:bold;
	color:blue;
}

.text-color span:nth-child(5){
	font-weight:bold;
	color:green;
}

.text-color span:nth-child(6){
	font-weight:bold;
	color:red;
}


#button1{
	display:inline-block;
	padding:5px 10px;
	border-radius:8px;
	background-color:#f54260;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px #bf0020;
	-webkit-appearance:none;
}

#button1:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


#text1{
	background-color:#f0f8ff;
}


#button2{
	display:inline-block;
	padding:5px 10px;
	border-radius:8px;
	background-color:#ff6347;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px #ff7f50;
	-webkit-appearance:none;
}

#button2:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


#site1{
	display:inline-block;
	padding:5px 10px;
	background-color:green;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px green;
	-webkit-appearance:none;
}

#site1:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


#site2{
	display:inline-block;
	padding:5px 10px;
	margin-left:10px;
	background-color:red;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px red;
	-webkit-appearance:none;
}

#site2:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


#site3{
	display:inline-block;
	padding:5px 10px;
	margin-left:10px;
	background-color:purple;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px purple;
	-webkit-appearance:none;
}

#site3:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


#site4{
	display:inline-block;
	padding:5px 10px;
	background-color:orange;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px orange;
	-webkit-appearance:none;
}

#site4:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}



#site5{
	display:inline-block;
	padding:5px 10px;
	margin-left:10px;
	background-color:skyblue;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px skyblue;
	-webkit-appearance:none;
}

#site5:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


#site6{
	display:inline-block;
	padding:5px 10px;
	margin-left:10px;
	background-color:black;
	font-weight:bold;
	color:white;
	cursor:pointer;
	user-select:none;
	box-shadow:5px 5px 5px black;
	-webkit-appearance:none;
}

#site6:active{
	position:relative;
	top:5px;
	box-shadow:none;
	-webkit-appearance:none;
}


div#upd1{
	color:red;
}

div#upd2{
	color:blue;
}

div#upd3{
	color:green;
}

div#upd4{
	color:orange;
}
